.container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.left-side {
    width: 40%
}
.right-side {

}
body {
    background-color: #E5F2FC;
    font-family: 'Roboto', sans-serif;
}
canvas {
    border: 1px solid #00084D;"
}

